.container {
  opacity: 0.6;
}
.con {
  position: absolute;
  top: 70%;
  left: 40%;
}
p {
  position: absolute;
  top: 20px;
  left: 90px;
  font-size: 40px;
  padding: 50px;
}
.btn {
  position: absolute;
  top: 65%;
  left: 45%;
  font-size: 20px;
  padding: 10px 15px;
  background-color: pink;
}
.btn:hover {
  background-color: peachpuff;
}
input {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 35%;
  padding: 10px;
}
input[type="text"] {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 35%;
  padding: 10px;
}
#contact {
  position: absolute;
  top: 55%;
  left: 30%;
  width: 35%;
  padding: 10px;
}
