.form {
  border: 2px solid black;
  position: absolute;
  top: 5%;
  left: 25%;
  height: 600px;
  width: 60%;
  background-color: beige;
}
.line1 {
  position: relative;
  top: 10%;
  left: 5%;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 50%;
}
.line2 {
  position: relative;

  left: 14%;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 50%;
}
.line3 {
  position: relative;

  left: 14%;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 50%;
}
.line4 {
  position: relative;

  left: 14%;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 50%;
}
.line5 {
  position: relative;

  left: 4%;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 50%;
}
input[type="text"] {
  font-size: 15px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 20%;
}
.btn {
  position: relative;
  left: 40%;

  font-size: 15px;
  padding: 10px;
}
